@use '../abstracts' as *;
// Typography

html {
  font-size: $font__size;
}
* {
  font-family: $font__family;
}

// headings
h1 {
  font-size: 3rem;
  font-weight: 501;
  line-height: 3rem;
  @include media($desktop__break-2) {
    font-size: 2.75rem;
  }
}
h2 {
  font-size: 2rem;
  font-weight: 501;
}
h3 {
  font-size: 1.25rem;
  font-weight: 400;
}
p {
  letter-spacing: 0.0525rem;
  line-height: 1.425rem;
}

// others
li {
  font-size: 0.775rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  @include media($desktop__break-2) {
    font-size: 0.725rem;
  }
}
button {
  font-size: 0.85rem;
  font-weight: 550;
  letter-spacing: 0.075rem;
  @include media($desktop__break-4) {
    font-size: 0.815rem;
  }
}
i {
  font-size: 1.15rem;
}
