// Typography
@use '../abstracts' as *;

// # Basics
html {
  font-size: $font__size;
}
body {
  font-family: $font__family;
}

// # Headings | paragraphs | etc..
h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 3rem;
  @include media($desktop-br-2) {
    font-size: 2.75rem;
  }
}
h2 {
  font-size: 2rem;
  font-weight: bold;
}
h3 {
  font-size: 1.25rem;
  font-weight: normal;
}
p {
  letter-spacing: 0.0525rem;
  line-height: 1.425rem;
}
li {
  font-size: 0.775rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  @include media($desktop-br-2) {
    font-size: 0.725rem;
  }
}
button {
  font-size: 0.85rem;
  font-weight: bold;
  letter-spacing: 0.075rem;
  @include media($desktop-br-4) {
    font-size: 0.815rem;
  }
}

// # Icons
i {
  font-size: 1.15rem;
}
