// Variables

// # Colors
$soft__blue: hsl(231, 69%, 60%);
$soft__red: hsl(0, 94%, 66%);
$gray: hsl(229, 8%, 60%);
$dark__blue: hsl(229, 31%, 21%);
$white: rgb(255, 255, 255);

// # Typography
$font__size: 18px;
$font__family: 'Rubik', sans-serif; // 400, 500

// # Others
$radius: 0.25rem;
$lrg__radius: 0.75rem;
$sml__spacing: 0.875rem;
$med__spacing: 1.75rem;
$lrg__spacing: 3.75rem;
$fixed__width: 1200px;
$section__break: 10rem;

// # Transitions
$dur-s: 0.255s;
$dur-l: 0.875s;
$delay: 0.1s;
$snap__eff: cubic-bezier(0.86, 0, 0.07, 1);
$jiggle__eff: cubic-bezier(0.78, -0.4, 0.01, 1.67);
$cubic__eff: cubic-bezier(0.65, 0.05, 0.36, 1);
$tr: $dur-s;

// # Breakpoints
$desktop-br-1: 1600;
$desktop-br-2: 1215;
$desktop-br-3: 1000;
$desktop-br-fix: 861;
$desktop-br-4: 790;
$mobile-br-1: 700;
$mobile-br-2: 545;
$mobile-br-3: 420;
$mobile-br-4: 320;
$mobile-br-fix: 396;

// # Custom Props
:root {
  // # Others
  --page-padding: 15rem;
}
