// Variables

// # Colors
$soft__blue: hsl(231, 69%, 60%);
$soft__red: hsl(0, 94%, 66%);
$gray: hsl(229, 8%, 60%);
$dark__blue: hsl(229, 31%, 21%);
$white: rgb(255, 255, 255);

// # Typography
$font__size: 18px;
$font__family: 'Rubik', sans-serif; // 400, 500

// # Transitions
$duration: 0.255s;
$duration_lg: 0.875s;
$snap_timing-function: cubic-bezier(0.86, 0, 0.07, 1);
$jiggle_timing-function: cubic-bezier(0.78, -0.4, 0.01, 1.67);
$cubic_timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);

// # Others
$radius: 0.25rem;
$radius_lg: 0.75rem;
$spacing_lg: 3.75rem;
$spacing_md: 1.75rem;
$spacing_sm: 0.875rem;
$fixed__width: 1200px;
$section_break: 10rem;

// # Breakpoints
$desktop__break-1: 1600;
$desktop__break-2: 1215;
$desktop__break-3: 1000;
$desktop__fix-break: 861;
$desktop__break-4: 790;
$mobile__break: 700;
$mobile__break-1: 545;
$mobile__break-2: 420;
$mobile__break-3: 320;
$fix-faq: 396;

// # Custom prop
:root {
  --page-padding: 15rem;
}
