@use '../abstracts' as *;
@use '../core' as *;
// Extensions

#extensions {
  @include flex(column, center);
  margin-top: $section_break;
  text-align: center;
  .description {
    h2 {
      color: $dark__blue;
    }
    p {
      color: $gray;
      margin: $spacing_md auto;
      max-width: 65%;
    }
  }
  .browsers {
    margin-top: $spacing_lg;
    padding: 0 $spacing_sm;
    @include flex();
    max-width: 1000px;
    height: 450px;
    @include media($mobile__break) {
      @include flex(column);
      max-width: 400px;
      height: 1200px;
      margin: $spacing_lg auto;
    }
    .browser {
      flex-basis: 31%;
      height: 90%;
      @include media($mobile__break) {
        flex-basis: 90%;
        margin-top: $spacing_sm;
      }
      border-radius: $radius_lg;
      background: $white;
      box-shadow: 0 0.325rem 0.5rem -0.25rem $gray;
      &:first-child {
        transform: translateY(-50px);
      }
      &:last-child {
        transform: translateY(50px);
      }
      &__image {
        margin: $spacing_md;
      }
      &__name {
        color: $dark__blue;
        margin-bottom: $spacing_sm / 2.5;
      }
      &__required-version {
        color: $gray;
      }
      .break {
        width: 100%;
        margin-top: $spacing_lg;
        margin-bottom: $spacing_sm * 1.25;
      }
      .install {
        @include btn_reset;
        width: 85%;
        height: 3rem;
        border-radius: $radius;
        color: $white;
        background: $soft__blue;
        border: 2px solid transparent;
        @include media($mobile__break) {
          margin-bottom: $spacing_md;
        }
        &:hover {
          background: $white;
          color: $soft__blue;
          border-color: $soft__blue;
        }
      }
    }
  }
}
