@use '../abstracts' as *;
@use '../core' as *;
// Extensions

#extensions {
  text-align: center;
  @include flex-col(center, center);
  margin-top: $section__break;
  .description {
    h2 {
      color: $dark__blue;
    }
    p {
      color: $gray;
      margin: $med__spacing auto;
      max-width: 65%;
    }
  }
  .browsers {
    margin-top: $lrg__spacing;
    padding: 0 $sml__spacing;
    @include flex-row(space-between, center);
    max-width: 1000px;
    height: 450px;
    @include media($mobile-br-1) {
      @include flex-col(space-between, center);
      max-width: 400px;
      height: 1200px;
      margin: $lrg__spacing auto;
    }
    .browser {
      flex-basis: 31%;
      height: 90%;
      @include media($mobile-br-1) {
        flex-basis: 90%;
        margin-top: $sml__spacing;
      }
      border-radius: $lrg__radius;
      background: $white;
      box-shadow: 0 0.325rem 0.5rem -0.25rem $gray;
      &:first-child {
        transform: translateY(-50px);
      }
      &:last-child {
        transform: translateY(50px);
      }
      &__image {
        margin: $med__spacing auto;
      }
      &__name {
        color: $dark__blue;
        margin-bottom: $sml__spacing / 2.5;
      }
      &__required-version {
        color: $gray;
      }
      .break {
        width: 100%;
        margin-top: $lrg__spacing;
        margin-bottom: $sml__spacing * 1.25;
      }
      .install {
        @include btn-reset;
        width: 85%;
        height: 3rem;
        border-radius: $radius;
        background: $soft__blue;
        border: 2px solid transparent;
        color: $white;
        &:hover {
          background: $white;
          color: $soft__blue;
          border-color: $soft__blue;
        }
        @include media($mobile-br-1) {
          margin-bottom: $med__spacing;
        }
      }
    }
  }
}
