@use '../abstracts' as *;
@use '../core' as *;
// FAQ

#faq {
  @include flex-col(center, center);
  text-align: center;
  padding: 0 1rem;
  padding-top: $section__break;
  .description {
    max-width: 55%;
    padding-bottom: $sml__spacing;
    @include media($mobile-br-1) {
      max-width: 100%;
    }
    h2 {
      color: $dark__blue;
    }
    p {
      color: $gray;
      margin: $med__spacing auto;
      max-width: 70%;
    }
  }

  .faq__container {
    margin-top: $sml__spacing;
    max-width: 45%;
    text-align: left;
    @include media($mobile-br-1) {
      max-width: 85%;
    }

    .question__container {
      height: 4rem;
      overflow: hidden;
      border-bottom: 1px solid lighten($gray, 25%);
      margin: 0.5rem 0;
      padding-bottom: 1.5rem;
      @include media($mobile-br-1) {
        padding-bottom: 2.5rem;
      }
      &:nth-of-type(1) {
        border-top: 1px solid lighten($gray, 25%);
      }
      &:nth-of-type(2) {
        @include media($mobile-br-fix) {
          padding-bottom: 3.5rem;
        }
      }
      .question {
        cursor: pointer;
        @include flex-row(space-between, center);
        margin: $sml__spacing 0;
        color: $dark__blue;
        i {
          color: $soft__blue;
        }
        &:hover {
          color: $soft__red;
        }
      }
      .answer {
        color: $gray;
        margin-top: 0.5rem;
        transition: all $dur-s $delay;
        opacity: 0;
      }
    }
    .question__container.active {
      height: 12rem;
      @include media($desktop-br-4) {
        height: 15rem;
      }
      .question {
        i {
          transform: rotate(180deg);
        }
      }
      .answer {
        opacity: 1;
      }
    }
  }
  button {
    @include btn-reset;
    margin-top: $med__spacing + $sml__spacing;
    width: 7rem;
    height: 2.75rem;
    border-radius: $radius;
    border: 2px solid transparent;
    background: $soft__blue;
    color: $white;
    &:hover {
      border-color: $soft__blue;
      background: $white;
      color: $soft__blue;
    }
  }
}
