@use '../abstracts' as *;
@use '../core' as *;
// Features

#features {
  @include flex-col(center, center);
  text-align: center;

  // desc
  .description {
    width: 50%;
    @include media($mobile-br-1) {
      width: 75%;
    }
    h2 {
      color: $dark__blue;
    }
    p {
      color: $gray;
      margin-top: $med__spacing;
    }
  }
  // sliders
  .sliders {
    margin: $lrg__spacing 0;
    @include flex-row(space-between, center);
    width: 750px;
    @include media($desktop-br-fix) {
      width: 80%;
      p {
        font-size: 0.825rem;
      }
    }
    @include media($mobile-br-1) {
      @include flex-col(center, center);
      width: 65%;
      p {
        font-size: initial;
      }
    }

    .slider {
      width: 100%;
      flex: 1;
      color: $gray;
      cursor: pointer;
      padding: $med__spacing $sml__spacing;
      border-bottom: 1px solid $gray;
      position: relative;
      .border {
        width: 100%;
        height: 5px;
        background: $soft__red;
        position: absolute;
        bottom: -0.05rem;
        left: 0;
        transform: scaleX(0);
        transition: all $dur-l $jiggle__eff;
      }
      &:hover {
        color: $soft__red;
      }
    }
    .slider.active {
      color: black;
      .border {
        transform: scaleX(1);
      }
      &:hover {
        color: currentColor;
      }
    }
  }

  // container
  .features__container {
    position: relative;
    width: 100%;
    .slide {
      max-width: $fixed__width;
      margin: 0 auto;
      padding: 0 $sml__spacing;
      @include flex-row(space-between, center);
      @include media($mobile-br-1) {
        @include flex-col(center, center);
      }
      img {
        width: 550px;
        @include media($mobile-br-1) {
          width: $mobile-br-1 + px;
        }
        @include media($mobile-br-1) {
          width: $mobile-br-2 + px;
        }
        @include media($mobile-br-2) {
          width: $mobile-br-3 + px;
        }
        @include media($desktop-br-4) {
          width: 450px;
        }
      }
      .shape {
        position: absolute;
        bottom: -25%;
        left: 0;
        z-index: -9;
        transform: translateX(calc(var(--page-padding) * -1)); // always stick to the edge
        width: 60%;
        height: 20rem;
        border-radius: 0 20rem 20rem 0;
        background: $soft__blue;
        @include media($mobile-br-1) {
          bottom: 40%;
          width: 80%;
        }
        @include media($mobile-br-2) {
          bottom: 55%;
          height: 15rem;
        }
      }
      .content {
        margin-left: $sml__spacing;
        text-align: left;
        @include media($mobile-br-1) {
          margin-top: $lrg__spacing * 1.5;
          text-align: center;
        }
        h2 {
          color: $dark__blue;
        }
        p {
          color: $gray;
          margin: $med__spacing 0;
          max-width: 27rem;
        }
        button {
          @include btn-reset;
          width: 7rem;
          height: 2.75rem;
          border-radius: $radius;
          border: 2px solid transparent;
          background: $soft__blue;
          color: $white;
          &:hover {
            border-color: $soft__blue;
            background: $white;
            color: $soft__blue;
          }
        }
      }
    }
  }
}
