@use '../abstracts' as *;
@use '../core' as *;
// Footer

#footer {
  @include flex-row(space-between, center);
  background: $dark__blue;
  width: 100%;
  padding: 2.25rem var(--page-padding);

  @include media($mobile-br-1) {
    @include flex-col(space-between, center);
  }
  .left__side {
    @include flex-row(space-between, center);

    @include media($mobile-br-1) {
      @include flex-col(space-between, center);
    }
    .footer__logo {
      margin-right: var(--lrg-spacing);
      @include media($mobile-br-1) {
        margin-right: 0;
        margin-bottom: $med__spacing;
      }
    }
    .links {
      @include list-reset;
      @include flex-row(space-between, center);
      @include media($mobile-br-1) {
        @include flex-col(space-between, center);
      }
      li {
        cursor: pointer;
        color: $white;
        text-transform: uppercase;
        margin-right: $med__spacing;
        @include media($mobile-br-1) {
          margin-right: 0;
          margin-bottom: $med__spacing;
        }
        &:hover {
          color: $soft__red;
        }
      }
    }
  }
  .social {
    @include flex-row(space-between, center);
    i {
      color: $white;
      margin-right: $med__spacing;
      cursor: pointer;
      @include media($mobile-br-1) {
        margin-right: $sml__spacing;
        margin-left: $sml__spacing;
      }
      &:hover {
        color: $soft__red;
      }
    }
  }
}
