@use '../abstracts' as *;
@use '../core' as *;
// Navigation

#navigation {
  width: 100vw;
  position: fixed;
  z-index: 100;
  padding: 0 var(--page-padding);
  background: $white;
  box-shadow: 0 0.5rem 1rem -1rem $gray;

  // Desktop
  .desktop__nav {
    width: 100%;
    height: 6.5rem;
    background: $white;
    @include flex-row(space-between, center);

    .heading {
      .nav__logo {
        z-index: 99;
        position: relative;
      }
    }
    .links {
      @include list-reset;
      @include flex-row(space-between, center, 4rem);
      @include media($desktop-br-2) {
        @include flex-row(space-between, center, 2.5rem);
      }
      @include media($desktop-br-4) {
        @include flex-row(space-between, center, 1.75rem);
      }
      & > * {
        text-transform: uppercase;
      }
      li {
        color: $gray;
        cursor: pointer;
        transition: all $dur-s;
        &:hover {
          color: $soft__red;
        }
      }
      button {
        @include btn-reset();
        background: $soft__red;
        color: $white;
        border-radius: $radius;
        width: 7rem;
        height: 2.5rem;
        border: 2px solid transparent;

        @include media($desktop-br-4) {
          width: 6rem;
          height: 2.25rem;
        }
        &:hover {
          background: $white;
          color: $soft__red;
          border-color: $soft__red;
        }
      }
    }
  }

  // Mobile
  .mobile__nav {
    width: 100%;
    height: 6rem;
    background: $white;
    @include flex-row(space-between, center);
    display: none;

    .heading {
      width: 100%;
      @include flex-row(space-between, center);
      z-index: 99;
      position: relative;

      .nav__logo {
        .mob-opened_logo {
          display: none;
        }
      }
      .toggle {
        cursor: pointer;
        z-index: 99;
        position: relative;
        .icon__open {
          display: initial;
        }
        .icon__close {
          display: none;
        }
      }
    }
    .links {
      @include list-reset;
      background: $dark__blue;
      width: 100vw;
      height: 100vh;
      position: absolute;
      inset: 0;
      padding: 7.5rem 4rem; // adjust as you declare the size of the media query
      opacity: 0.925;
      @include flex-col(initial, initial, 2rem);
      transform: scaleY(0);
      transform-origin: top;

      & > * {
        text-transform: uppercase;
        width: 100%;
        text-align: center;
      }
      li {
        color: $white;
        cursor: pointer;
        transition: all $dur-s;
        padding-top: 1.75rem;
        border : {
          top: 1px solid $gray;
        }
        &:last-of-type {
          padding-bottom: 1.75rem;
          border-bottom: 1px solid $gray;
        }
        &:hover {
          color: $soft__red;
        }
      }
      button {
        @include btn-reset();
        background: $dark__blue;
        color: $white;
        border-radius: $radius;
        width: 100%;
        height: 2.5rem;
        border: 2px solid $white;
        &:hover {
          color: $soft__red;
          border-color: $soft__red;
        }
      }
    }
  }
  .mobile__nav.opened {
    .heading {
      .nav__logo {
        & > *:first-child {
          display: none;
        }
        .mob-opened_logo {
          display: initial;
        }
      }
      .toggle {
        .icon__open {
          display: none;
        }
        .icon__close {
          display: initial;
        }
      }
    }
    .links {
      transform: scaleY(1);
    }
  }
}
