// Link all the layout/files
<<<<<<< HEAD
// @use './layout';
=======
>>>>>>> parent of 8ae6f63 (reverted)
@use './abstracts' as *;
@use './layout/extension';
@use './layout/faq';
@use './layout/features';
@use './layout/footer';
@use './layout/hero';
@use './layout/navigation';
@use './layout/sign_up';
<<<<<<< HEAD
// :root {
//   @include media($desktop-br-1) {
//     --page-padding: 10rem;
//   }
//   @include media($desktop-br-2) {
//     --page-padding: 5rem;
//   }
//   @include media($desktop-br-3) {
//     --page-padding: 2.5rem;
//   }
//   @include media($mobile-br-3) {
//     --page-padding: 0.5rem;
//   }
// }
=======
:root {
  @include media($desktop-br-1) {
    --page-padding: 10rem;
  }
  @include media($desktop-br-2) {
    --page-padding: 5rem;
  }
  @include media($desktop-br-3) {
    --page-padding: 2.5rem;
  }
  @include media($mobile-br-3) {
    --page-padding: 0.5rem;
  }
}
>>>>>>> parent of 8ae6f63 (reverted)
